<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${quintus.url}"/>
        <property name="driverClassName" value="${quintus.driver}"/>
        <property name="username" value="${quintus.username}"/>
        <property name="password" value="${quintus.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--    dao层-->
    <bean id="studentDao" class="com.quintus.dao.imple.StudentDaoImp">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

<!--    service层-->
    <bean id="studentService" class="com.quintus.service.imple.StudentServiceImp">
        <property name="studentDao" ref="studentDao" />
    </bean>

<!--    controller层-->
    <bean id="studentController" class="com.quintus.controller.StudentController">
        <property name="studentService" ref="studentService" />
    </bean>

</beans>